h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*Mobile first*/
html, body, #wrapper {
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

@-ms-viewport {
  width: device-width;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url(images/down-white.png);
  background-size: contain;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.bounce-once {
 -moz-animation: bounce 2s;
  -webkit-animation: bounce 2s;
  animation: bounce 2s; 
}

::selection {
  color: white;
  background-color: #661e2a;
}

::-moz-selection {
  color: white;
  background-color: #661e2a;
}

p {
  font-size: 1.2em;
}

.nav {
  margin-right: 10px;
}

.nav a {
  text-decoration: none;
  padding: 0;
  border: 2px solid #661e2a;
  border-radius: 5px;
  background: transparent;
  color: #661e2a;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
}
  
a {
  font-size: 1.2em;
}

a, a:visited {
  color: #661e2a;
  font-weight: bold;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #661e2a;
  font-weight: bold;
  text-decoration: none;
}

.navbar {
  opacity: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar, .navbar-collapse {
  text-align: center;
}

.navbar-collapse li {
  margin: 2px;
}

a.navbar-brand {
  border: none;
  margin-top: -15px;
}

.navbar-nav>li>a {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 8px;
  padding-right: 8px;
  }

#email a, #email a:hover, #email a:visited {
  color: white;
}

#logo-small {
  height: 60px;
  width: auto;
  border: none;
}

#top-div {
  height: 100%;
  background: url(images/assembly_mini2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/assembly_mini2.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/assembly_mini2.png', sizingMethod='scale')";
}

#pic-div {
  z-index: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

#logo-div {
    margin: 0 auto;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 60%;
    left: 60%;
    z-index: 1;
    -ms-transform: translateX(-60%) translateY(-60%);
    -moz-transform: translateX(-60%) translateY(-60%);
    -webkit-transform: translateX(-60%) translateY(-60%);
    transform: translateX(-60%) translateY(-60%);
}

#logo-div img {
    position: absolute;
    max-width: 650px;
    width: 100%;
    height: auto;
    top: 35%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-35%);
    -moz-transform: translateX(-50%) translateY(-35%);
    -webkit-transform: translateX(-50%) translateY(-35%);
    transform: translateX(-50%) translateY(-35%);
}

#logo-div h1 {
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 35px;
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-65%);
    -moz-transform: translateX(-50%) translateY(-65%);
    -webkit-transform: translateX(-50%) translateY(-65%);
    transform: translateX(-50%) translateY(-65%);
    color: white;
    font-weight: bold;
}

.others {
    width: 100%;
    left: 0;
    height: 600px;
    text-align: center;
}

.others h1 {
    padding: 10px;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: bolder;
}

.others h2 {
    padding: 10px;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
}

.contain {
  width: 25%;
  margin: 0 auto;
}

#bottler { 
  background: url(images/bottler_mini.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bottler_mini.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bottler_mini.png', sizingMethod='scale')";
}

#packing { 
  background: url(images/packing_mini2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/packing_mini.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/packing_mini.png', sizingMethod='scale')";
}

#warehouse { 
  background: url(images/warehouse_mini.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/warehouse_mini.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/warehouse_mini.png', sizingMethod='scale')";
}

#truck { 
  background: url(images/truck_mini2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/truck_mini.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/truck_mini.png', sizingMethod='scale')";
}

div.content {
  position: relative;
  top: 50%;
  padding: 20px;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icons {
  position: relative;
  max-width: 250px;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  opacity: 0;
}

#about-anchor, #contact-anchor, 
#manu-anchor, #qc-anchor, 
#randd-anchor, #pa-anchor, 
#dist-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

#randd, #dist {
    background-color: white;
    color: #661e2a;
}

#pa, #manu {
    background-color: #661e2a;
    color: white;
}

#qc, #about {
    background-color: #8c8c8c;
    color: white; 
}

#about p {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
  padding: 10px;
}

#contact {    
  background-color: #8c8c8c;
  color: white; 
  height: auto;
}

div.contactinfo {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.contactinfo div {
  display: inline-block;
  width: 125px;
  margin: 10px 20px;
}

.contactinfo h3 {
  font-weight: bolder;
  padding: 10px 0 10px 0;
  font-size: 1.3em;
}

.contactinfo h4 {
  padding-top: 10px;
  font-size: 1em;
}

.contactinfo a {
  text-decoration: none;
}

.contactinfo img {
  max-width: 125px;
  width: 100%;
  height: auto;
}

#map {
  max-width:500px;
  width: 95%;
  min-height: 200px;
  max-height: 400px;
  height: auto;
  margin: 0 auto;
} 

#mapContent {
  color: black;
  text-align: left;
  width: 170px;
  height: 100px;
}

#mapContent h1 {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0;
}

#footer {
  font-size: 0.8em;
  height: 60px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  background: #8c8c8c;
  color: white;
  z-index: 2;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}

#copy {
  font-size: 1.2em;
  font-weight: bold;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 48em) and (orientation: landscape) {
  #logo-div img {
    top: 20%;
  }

  #logo-div h1 {
    font-size: 2.5em;
  }

 .others {
  height: 700px;
  }

.others h1 {
  font-size: 2em;
  line-height: 1.5em;
}

.others h2 {
  font-size: 1.5em;
  line-height: 1.25em;
}

}

@media only screen and (min-width: 48em) {

html, body, #wrapper {
  font-size: 1em;
}

div.menu {
  height: 67px;
}

.menu a {
  padding: 10px;
  margin: 10px;
}

#logo-small {
  height: 60px;
}

.contactinfo div {
  width: 30%;
}

.others h1 {
  font-size: 2em;
  line-height: 1.5em;
}

.others h2 {
  font-size: 1.5em;
  line-height: 1.25em;
}

}

@media only screen and (min-width: 56em) {

#logo-div img {
  top: 20%;
}

#logo-div h1 {
  font-size: 2.75em;
}

.others h1 {
  font-size: 2.75em;
  line-height: 1.75em;
  font-weight: bolder;
}

.others h2 {
    font-size: 2em;
    line-height: 1.2em;
}

#about p {
  font-size: 2em;
}

#map {
  width: 60%;
  height: 50%;
  margin: 0 auto;
} 

}

@media only screen and (min-width: 1000px) {

#map {
  width: 1000px;
  height: 50%;
  margin: 0 auto;
} 

.content {
  max-width: 1200px;
  margin: 0 auto;
}

}
